.hero {
    background-image: url("../assets/hero.png");
    background-size: cover;
    background-position: center;
    height: 96vh;
}

.hero-container {
    width: 50%;
    max-width: 700px;
    color: white;
    
}

.banner-icon {
    font-size: 4rem;
    color: var(--nippon-primary);
}

.hero-container>h1, .hero-container>p {
    text-shadow: 0 0 40px rgb(0, 0, 0);
}

.hero-container>.btn, .hero-container>.btn:active {
    width: 200px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: linear-gradient(to left, #25323e, #738394);
    color: white;
    transition: width 0.25s ease;
}

.hero-container > .btn:hover {
    width: 230px;
}

.hero-container > .btn:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(115, 131, 148, 0.45);
}

#features-section .border-end {
    border-right: 1px solid rgba(128, 128, 128, 0.34) !important;
}

#featured-apartments .card-img-top {
    height: 200px;
    object-fit: cover;
}

#featured-apartments .card {
    transition: .1s;
    cursor: pointer;
}

#featured-apartments .card:hover {
    transform: scale(1.01);
}